@import "tailwindcss";
@config "../tailwind.config.js";

@font-face {
  font-family: Arnorg;
  src: url(/public/Fonts/Arnorg/arnorg.woff2) format('woff2'),
       url(/public/Fonts/Arnorg/arnorg.woff) format('woff'),
       url(/public/Fonts/Arnorg/arnorg.svg) format('svg'),
       url(/public/Fonts/Arnorg/arnorg.ttf) format('ttf')
}

@font-face {
  font-family: Badaga;
  src: url(/public/Fonts/Badaga/badaga.woff2) format('woff2'),
       url(/public/Fonts/Badaga/badaga.woff) format('woff'),
       url(/public/Fonts/Badaga/badaga.svg) format('svg'),
       url(/public/Fonts/Badaga/badaga.ttf) format('ttf')
}

/* @font-face {
  font-family: Bluetea;
  src: url(/public/Fonts/Bluetea/Bluetea.woff2) format('woff2'),
       url(/public/Fonts/Bluetea/Bluetea.woff) format('woff'),
       url(/public/Fonts/Bluetea/Bluetea.svg) format('svg'),
       url(/public/Fonts/Bluetea/Bluetea.ttf) format('ttf')
} */

@font-face {
  font-family: GoldieBoxing;
  src: url(/public/Fonts/GoldieBoxing/goldieBoxing.woff2) format('woff2'),
       url(/public/Fonts/GoldieBoxing/goldieBoxing.woff) format('woff'),
       url(/public/Fonts/GoldieBoxing/goldieBoxing.svg) format('svg'),
       url(/public/Fonts/GoldieBoxing/goldieBoxing.ttf) format('ttf')
}

@font-face {
  font-family: Grobold;
  src: url(/public/Fonts/Grobold/grobold.woff2) format('woff2'),
       url(/public/Fonts/Grobold/grobold.woff) format('woff'),
       url(/public/Fonts/Grobold/grobold.svg) format('svg'),
       url(/public/Fonts/Grobold/grobold.ttf) format('ttf')
}

@font-face {
  font-family: HFComic;
  src: url(/public/Fonts/HFComic/hfcomic.woff2) format('woff2'),
       url(/public/Fonts/HFComic/hfcomic.woff) format('woff'),
       url(/public/Fonts/HFComic/hfcomic.svg) format('svg'),
       url(/public/Fonts/HFComic/hfcomic.ttf) format('ttf')
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.heart {
  position: relative;
  width: 21px;
  height: 21px;
  margin-top: 0px;
}

.heart::before, .heart::after {
  content: "";
  position: absolute;
  top: 0;
  width: 16px;
  height: 26px;
  border-radius: 68px 68px 0 0;
  background: red;
}

.heart::before {
  left: 16px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.heart::after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

.heartGrey {
  position: relative;
  width: 21px;
  height: 21px;
  margin-top: 0px;
}

.heartGrey::before, .heartGrey::after {
  content: "";
  position: absolute;
  top: 0;
  width: 16px;
  height: 26px;
  border-radius: 68px 68px 0 0;
  background: grey;
}

.heartGrey::before {
  left: 16px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.heartGrey::after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}
